@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* 
Regular: 400 
SemiBold: 600 
Bold: 700 
*/

:root {
    --color-blue: #1B2B3B;
    --color-blue-fade: #1b2b3bb3;
    --color-orange: #FE8E22;
    --color-white: #F5F5F5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-blue);

}

.customize-support {
    height: 100px;
}

/* Customize the background color of the navbar */
.skarntyden,
.ticketbox-svg {
    max-width: 250px;
    /* Adjust the maximum width as needed */
    height: auto;
    position: absolute;
    padding: 18px 20px;
    z-index: 5;

}


.menu {
    background-color: var(--color-blue);
    margin: 0;
    height: 75px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
    place-items: center;
}

/* Style the menu items */


.menu li {


    list-style-type: none;
    place-items: center;
    padding: 20px;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 2px;
    z-index: 5;
    text-shadow: #000000d3 2px 2px 2px;



}

/* Style the menu links */
.menu li a {
    text-decoration: none;
    color: var(--color-white);


}

/* Change link color on hover */
.menu li a:hover {
    color: var(--color-orange);
}

.hero-container {
    position: relative;
    transform: translateY(-13%);
    height: 911px;
}

.hero-container img {
    width: 100%;
    height: 911px;
    object-fit: cover;
}

.headline {
    background-color: var(--color-blue-fade);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headline h1 {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 7rem;
    letter-spacing: 8px;
    margin-top: 150px;
}

.headline-button-box {
    padding-top: 100px;
}

button {
    background: none;
    border: 5px solid var(--color-orange);
    padding: 10px 30px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--color-orange);
    color: var(--color-blue);
    scale: 1.1;
}

.slider {
    background-color: var(--color-blue);
}

.container2 {
    background-color: var(--color-orange);
    transform: translateY(-186%);
    z-index: -1;
}

.container2 h2 {
    font-weight: 400;
    color: var(--color-white);
    padding: 22px 20px;
    margin: 20px;
    font-size: 2.8rem;
    text-align: center;
}

.container2 span {
    font-weight: 600;
}

.container3 {
    background-color: var(--color-blue);
    transform: translateY(-53%);
}

.container3 h2 {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
    padding: 50px 0 30px 0;
}

.container3 p {
    padding: 0 15% 80px 15%;
    color: var(--color-white);
    font-weight: 400;
    font-size: 1.8rem;
    z-index: -2;
}

.container4 {
    background-color: var(--color-orange);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
    transform: translateY(-24.3%);
}

.container4 .ticket-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 .ticket-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20%;
}

.container4 .ticketbox-svg {
    scale: 500%;
    z-index: 1;
}

.container4 .ticket-box-text h2 {
    font-weight: 600;
    font-size: 5rem;
    padding: 20px 0 5px 0;
    color: var(--color-orange);
    z-index: 2;
}

.container4 .ticket-box-text p {
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;
    color: var(--color-white);
    z-index: 2;
    padding-bottom: 10px;
}

.container4 .ticket-box-text .wpcf7 {
    z-index: 2;
}

.container4 .ticket-box-text .wpcf7 label {
    color: var(--color-white);
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.reviews h3 {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    margin: 150px 0 0 0;
}

.wpcf7-form {
    padding-top: 30px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
    background: none;
    border: solid 4px var(--color-orange);
    color: var(--color-white);
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    font-size: 16px;
    font-weight: 600;
}

.wpcf7 p {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    color: var(--color-white);
}

.wpcf7 input[type="submit"] {
    border: solid 4px var(--color-orange);
    color: var(--color-white);
    background: none;
    margin-top: 10px;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.wpcf7 input[type="submit"]:hover {
    background-color: var(--color-orange);
    color: var(--color-blue);
    scale: 1.1;

}

.wpcf7-spinner {
    display: none;
}

.pa-scenen {
    display: flex;
    justify-content: space-evenly;
  
}

.pa-scenen p {
    color: var(--color-white);
    font-size: 2rem;
}

.pa-scenen h3 {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 4rem;
}

.pa-scenen h4 {
    color: var(--color-orange);
    margin-top: 60px;
    font-size: 2rem;
}

.velkomst {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;

}

.velkomst h3 {
    color: var(--color-orange);
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.velkomst p {
    color: var(--color-white);
    font-size: 2rem;
    padding: 0 25% 50px 25%;
}

.sponsors {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* display: block; */
}

.sponsors img {
    padding: 50px;
    max-width: 100%;
    scale: 0.80;
}





footer {
    background-color: var(--color-blue);
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

footer p {
    color: var(--color-white);
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 10px;
    padding-top: 25px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.some img {
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 10px;
}

.some img:hover {
    scale: 1.1;
}



.instagram-icon,
.facebook-icon {
    padding: 0 30px;
}

.instagram-icon svg,
.facebook-icon svg {
    padding: 0 20px 0 20px;
    margin: 0 auto;
    scale: 600%;
    width: 50px;
    max-width: 100%;
    cursor: pointer;
}

.wpcf7 select {
    background: none;
    color: var(--color-white);
    border: solid 4px var(--color-orange);
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
}

.wpcf7 select option {
    background: var(--color-blue);
    color: var(--color-white);
    border: solid 4px var(--color-orange);
    border-radius: none;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
}

.wpcf7 textarea {
    background: none;
    color: var(--color-white);
    border: solid 4px var(--color-orange);
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    font-size: 16px;
    font-weight: 600;
}



/* Media Queries */

@media (max-width: 1195px) {
    .hero-container {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .hero-container img {
        width: 100%;
        height: 911px;
        object-fit: cover;
    }

    .container4 .ticket-box-text {
        margin: 10%;
    }

    .container4 .ticket-box-text h2 {
        font-size: 4rem;
    }

    .container4 .ticket-box-text p {
        font-size: 1.8rem;
    }

    .sponsors {
        flex-wrap: wrap;
    }
}




@media (max-width: 850px) {
    .headline h1 {
        font-size: 5rem;
    }

    .container2 h2 {
        font-size: 2.3rem;
    }

    .container4 .ticket-box-text h2 {

        font-size: 3.5rem;

    }

    .container4 .ticket-box-text p {

        font-size: 1.8rem;

    }
}

@media (max-width: 750px) {

    .menu {
        background-color: rgba(0, 128, 0, 0);
    
    
    
    }

    .hero-container, .container2, .container3, .container4 {
        transform: translateY(0);
    }

    .hero-container {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .container2 h2 {
        font-size: 2.1rem;
        margin-top: 0;
    }

    .container3 h2 {
        font-size: 4rem;
    }

    .container3 p {
        font-size: 1.5rem;
        padding: 0 10% 80px 10%;
    }
}

@media (max-width: 630px) {
    .headline h1 {
        font-size: 4.6rem;
        letter-spacing: 3px;
    }


    .container3 h2 {
        font-size: 4rem;
        padding: 20px 0 20px 0;
    }

    .container3 p {
        font-size: 1.5rem;
    }

    .container4 .ticket-box-text {

        margin: 0;

    }

    .container4 .ticket-box-text h2 {

        font-size: 3.7rem;

    }

    .container4 .ticket-box-text p {

        font-size: 1.5rem;


    }

    .wpcf7-form {
        padding-top: 30px;
    }

    .wpcf7 input[type="text"],
    .wpcf7 input[type="email"] {
        background: none;
        border: solid 4px var(--color-orange);
        color: var(--color-white);
        height: 45px;
        padding: 10px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;

    }

    .wpcf7-form-control-wrap {
        width: 200px;
    }



    .wpcf7 p {
        display: flex;
        justify-content: center;
        place-items: center;
        flex-direction: column;
        color: var(--color-white);
    }

}

@media (max-width: 600px) {
    .skarntyden {
    display: none;
}

.navbar {
    margin: 0;
}

.menu {
    justify-content: center;
    height: 40px;
}
}

@media (max-width: 571px) {

    .headline h1 {
        font-size: 3.5rem;
        letter-spacing: 4px;
    }

    .container2 h2 {
        font-size: 1.6rem;
    }

    .container3 p {
        font-size: 1.5rem;
    }
    input[type="email"] {
        background: none;
        border: solid 4px var(--color-orange);
        color: var(--color-white);
        height: 25px;
        padding: 5px;
        margin-top: 2px;
        width: 140px;
        font-size: 12px;
        font-weight: 600;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
    background: none;
    border: solid 4px var(--color-orange);
    color: var(--color-white);
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    width: 120%;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;



}

.wpcf7 textarea {
    width: 100%;
    justify-content: center;
    place-items: center;
}


.wpcf7-form {
    flex-direction: column;
    max-width: 100%;
    
   
}

}

@media (max-width: 436px) {

    .hero-container {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .menu li{
        font-size: 1.4rem;
        letter-spacing: 1px;
        
    }

    .headline h1 {
        font-size: 3rem;
    }

    .container2 h2 {
        font-size: 1.5rem;
    }

    .container3 h2 {
        font-size: 3.5rem;
    }

    .container3 p {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    .pa-scenen {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}










